<!DOCTYPE html>
<html>
<head>
    <title>Messenger Clone</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="user-list">
    <h3>Select a user to chat with:</h3>
    <ul id="user-list">
        <!-- Active users will be dynamically populated here -->
    </ul>
</div>
<div class="chat-container">
        <div class="messages-list" id="message-container"></div>
        <div class="input-area">
            <input type="text" id="message-input" placeholder="Type your message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script>
        socket.on('update_users', function(users) {
            const userList = document.getElementById('user-list');
            userList.innerHTML = '';
            users.forEach(user => {
                const li = document.createElement('li');
                const a = document.createElement('a');
                a.href = '#';
                a.textContent = user;
                a.onclick = () => selectUser(user);
                li.appendChild(a);
                userList.appendChild(li);
            });
        });
    </script>
</body>
</html>