@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Add underline to the active nav link */
.nav-link.active {
    position: relative; /* Required for the pseudo-element */
    color: var(--primary); /* Optional: Change color for active link */
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust this value to position the underline */
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: var(--primary); /* Color of the underline */
    transform: scaleX(1); /* Initial state */
    transition: transform 0.3s ease; /* Smooth transition */
}
li{
    list-style-type: none;
}
.job{
    background-color: var(--important-background);
}

.job-status{
    background-color: var(--secondary) !important;
}
.job-info{
    background-color: var(--primary-light) !important;
}
/* For Webkit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 10px; /* Soft edges */
}

::-webkit-scrollbar-track {
    background: #f8f9fa; /* Light gray for a soft, neutral look */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c5d1e3; /* Soft pastel blue */
    border-radius: 20px; /* Fully rounded edges */
    transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #aab8d1; /* Slightly darker blue on hover */
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

